body{ background-color: #E5E5E5;}
.registrationForm{
    position: absolute;
width: 570px;
height: 591px;
left: 370px;
top: 130px;

background: #FFFFFF;
border: 1px solid #ABABAB;
box-sizing: border-box;
border-radius: 4px
}
.regInput{

border-top: none;
border-left: none;
border-right: none;
border-bottom: none;
width: 462px;
height: 40px;
left: 489px;
top: 230px;
border-radius: none;

}

.box{position: absolute;
    width: 570px;
    height: 457px;
    left: 370px;
    top: 171px;
    
    background: #FFFFFF;
    border: 1px solid #ABABAB;
    box-sizing: border-box;
    border-radius: 4px;}
    .topText{
       position: relative;
        margin-top: 100px;
        
        
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        
        color: #000000;
        }
        .google{
            
            width: 457px;
            height: 51px;
            margin-left: 59px;
            margin-top:50px;
            
            background: #FFFFFF;
            border: 1px solid #C7C7C7;
            box-sizing: border-box;
            border-radius: 57px;}
            .google img{
                margin-bottom: 20px;
                }
