h5{background-color:#3F90FC;border-radius: 0px 0px 10px 10px;height: 80px;text-align: center;
padding: 5px;width: 280px
}
img{width: 280px;;padding: 0px;position: relative;margin-top: 20px;border-radius: 0px;}

